@use "../../styles/partials/mixins" as *;
@import "../../styles/partials/variables";

.blur {
  position: fixed;
  backdrop-filter: blur(1px);
  height: calc(100vh - 100px);
  top: 100px;
  background-color: rgba(0, 0, 0, 0.04);
  width: 100vw;

  @include tablet {
    display: none;
  }
}

.close {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  height: 25px;
  cursor: pointer;
}

.close-alternative {
  display: none;
}

.no-blur {
  display: none;
}

.menu {
  display: none;
}

.menu-alternative {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  height: 25px;
  cursor: pointer;
  @include tablet {
    display: none;
  }
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: #0a192f;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  transform: translateY(-50%);
  transition: transform 1s ease-in-out, opacity 2s ease-in-out;
  opacity: 0;
  z-index: 2;
  &.visible {
    transform: translateY(0);
    opacity: 1;
    // overflow-x: clip;
  }

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo {
  height: 45px;
  margin: 1.2rem;
  @include tablet{
    position: static;
    height: 75px;
    margin: 1rem 1.5rem;
  }
}

.header__nav {
  position: fixed;
  top: -100vh;
  right: 0;
  // top: -50%;
  // transform: translateY(-50%);
  width: 60vw;
  background-color: #112240;
  transition: all 0.25s ease-in-out;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  // transition: right 0.5s ease-in-out;

  @include tablet {
    display: none;
  }
}
.header__nav-desktop {
  @include tablet {
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
  }
}

.nav__list-desktop {
  display: none;
  @include tablet {
    display: flex;
    list-style-type: none;
    align-items: center;
  }
}

.nav__tag-desktop {
  @include tablet {
    font-size: 1rem;
    color: #ccd6f6;
    text-transform: capitalize;
    margin-right: 2rem;
    cursor: pointer;
  }
}

.nav__tag-desktop:hover {
  color: #64ffda;
}

.nav__tag-number-desktop {
  @include tablet {
    color: #64ffda;
    margin-right: 0.313rem;
  }
}

.nav__button-desktop {
  padding: 0.825rem 1.2rem;
  background-color: #0a192f;
  color: #64ffda;
  text-decoration: none;
  border-radius: 0.313rem;
  margin-top: 0.625rem;
  min-width: 7.375rem;
  margin: 3rem auto;
  border: 0.063rem solid #64ffda;
}

.header__nav.active {
  right: 0;
  top: 0;
}

.nav {
  list-style-type: none;

  &__list-item {
    margin-bottom: 2.25rem;
  }

  &__tag {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    &-text {
      font-size: 1.125rem;
      color: #ccd6f6;
    }
    &-text:hover {
      color: #64ffda;
      cursor: pointer;
    }

    &-number {
      display: block;
      font-size: 1rem;
      color: #64ffda;
      margin-bottom: 0.3rem;
    }

    // &-button {
    //   display: flex;
    //   justify-content: center;
    //   padding: 0.825rem 1.2rem;
    //   color: #64ffda;
    //   text-decoration: none;
    //   border-radius: 0.313rem;
    //   margin-top: 0.625rem;
    //   min-width: 7.375rem;
    //   margin: 3rem auto;
    //   border: 0.125rem solid #64ffda;
    // }
  }
}

// Size can also be negative; see how it's smaller than the element
.buttons .raise:hover,
.buttons .raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

/* Set button colors (only for the raise button) */
.buttons .raise {
  --color: #64ffda;
  --hover: #fff;
}
.buttons {
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}

/* Basic button styles (only for the raise button) */
.buttons .raise {
  color: var(--color);
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 5rem 0;
  padding: 1em 2em;
  border-radius: 0.313rem;
  max-width: 14rem;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: #fff;
  }
}

.scrolled {
  /* Add properties to make the header sticky when scrolling up */
  position: sticky;
  top: 0;
  background-color: #0a192f;
  /* Add other styling properties as needed */
}