@use "../../styles/partials/mixins" as *;
@import "../../styles/partials/variables";

.footer {
  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    @include tablet {
        display: none;
    }
  }
  &__list-desktop{
    display: none;
    @include tablet{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: -1rem;
    margin: 0;
    gap: 1rem;
    }
  }
  &__text-link-desktop{
    display: none;
    @include tablet {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: -1rem;
    right: 2.5rem;
    writing-mode: vertical-lr;
    color: #a8b2d1;
    cursor: pointer;
    }
  }
  &__text-link-desktop:hover{
    color: #64ffda;
  }
  &__text-link-desktop:hover::after{
    margin: 3rem auto 0 auto;
  }
  &__text-link-desktop::after{
    content: "";
    display: block;
    width: 0.063rem;
    height: 7.625rem;
    margin: 2rem auto 0 auto;
    background-color: #a8b2d1;
    transition: 0.3s ease;
  }
  &__list-desktop::after{
    content: "";
    display: block;
    width: 0.063rem;
    height: 7.625rem;
    margin: 1rem auto 0 auto;
    background-color: #a8b2d1;
  }
  &__icon {
    color: #ccd6f6;
    width: 1.5rem; 
    height: 1.5rem;
  }
  &__icon:hover{
    color: #64ffda;
    cursor: pointer;
  }
  &__description{
    color: #a8b2d1;
    display: flex;
    justify-content: center;

    &-link {
        margin-left: 0.25rem;
        color: #64ffda;
    }
    &-link:visited {
        color: #64ffda;
    }
  }

}
